# Generic ignores
*.log
*.log.*
*.db*
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
.cloud
.storage
android
custom_components
deps
image
tts
www

# Specific file ignores
core
image
ip_bans.yaml
secrets.yaml
/esphome/secrets.yaml
phue.conf

# Build-in blueprints ignores
blueprints/*/homeassistant

# ESPHome ignores
esphome/.*
esphome/.esphome

# Ignore files created by IDE's
.vscode
